@font-face {
  font-family: "roboto", serif;
  src: url("/font/roboto/roboto-medium.woff2");(format woff2)
  font-weight: 500;
}

@font-face {
  font-family: "roboto", serif;
  src: url("/font/roboto/roboto-regular.woff2") ; (format woff2)
  font-weight: 400;
}

