@import "/styles/font.css";



.body {
  background-color: #10367c;
  padding: 0;
}

.body-end {
  display: flex;
  justify-content: space-around;
}

.container {
  display: flex;
  justify-content: space-around;
}

.table {
  margin-top: 120px;
  list-style-type: none;
  justify-content: space-around;
}

li {
  font-family: "roboto", serif;
  font-weight: 400;
  margin: 24px;
  color: #ffffff;
}

.heading {
  font-family: "roboto", serif;
  font-weight: 500;
  font-size: 20px;
}

.end {
  color: #ffffff;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 120px;
  margin-left: 140px;

}
