@import "font.css";

* {
  margin: 0;
  padding: 0;
}

input {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 18px;
  border: none;
  padding: 0;
  outline: #f5bd41;
  border-radius: 8px;
  box-sizing: border-box;
}

.main {
  background-image: url("../images/castelmezzano.png");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 900px;
  background-size: 100% 100%;
  max-width: 1440px;
}

.container {
  padding: 51px 104px 0;
  overflow: hidden;
  height: 100%;
  max-width: 100%;
}

.logo {
  width: 205px;
  height: 40px;
}

.head {
  height: 46px;
  display: flex;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 24px;
  justify-content: space-between;
}

.col-12 {
  max-width: 100%;
}

.links {
  display: flex;
  position: relative;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.navs:hover {
  color: #f5bd41;
}

.navs:hover::before {
align-items: center;
  transform: scaleX(1);
  transition: transform 0.25s;
}

.navs:before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #f5bd41;
  position: absolute;
  margin: auto;
  bottom: -12px;
  transform: scaleX(0);

}

.night {
  padding-top: 5px;
  margin-left: 24px;
}

.account {
  margin-left: 24px;
  padding-bottom: 1px;
}

a:hover {
  color: #f5bd41;
}

.attraction {
  margin-right: 24px;
  padding-top: 6px;
  margin-left: 24px;
}

.item {
  position: relative;
  padding-top: 6px;
}

svg:hover > path {
  fill: #f5bd41;
}

h1 {
  font-family: Roboto, serif;
  font-weight: 500;
  font-size: 50px;
  color: #ffffff;
  padding-top: 202px;
  padding-bottom: 100px;
}

.menu {
  display: none;
}

label {
  color: #ffffff;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 18px;
}

.hotel {
  padding: 100px 221px 24px 24px;
}

label:first-child {
  padding-right: 180px;
}

input:focus {
  border: 3px #f5bd41 solid;
}

.city {
  width: 467px;
  height: 64px;
  padding-left: 24px;
  display: inline-block;
}

.date {
  width: 259px;
  height: 64px;
  padding-left: 24px;
  position: relative;
  outline: #f5bd41;
}

.check-in-date {
  display: none;
}

.children {
  width: 314px;
  height: 64px;
  padding-left: 24px;
}

.search {
  width: 192px;
  height: 64px;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  border-radius: 8px;
  background-color: #3077c6;
  border: none;
}

.foot {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
}

.google {
  margin-right: -8px;
  padding-left: 0;
}

.apple {
  padding-left: 0;
  margin-left: 16px;
}

form {
  display: flex;
  background: white;
  border-radius: 8px;
}

@media screen and (max-width: 850px) {
  form {
    display: block;
    box-sizing: border-box;
    border: 4px solid #f5bd41;
    outline: #f5bd41;
    justify-content: center;
    border-radius: 0;
    background-color: #f5bd41;
    width: 358px;
  }

  .col-md-6 {
    width: 100%;
  }

  .date {
    border-radius: 0;
    width: 350px;
  }

  .city {
    border-radius: 0;
    width: 350px;
  }

  .children {
    border-radius: 0;
    width: 350px;
  }

  .search {
    border-radius: 0;
    width: 350px;
  }

  label {
    display: none;
  }

  .hotel {
    padding-top: 30px;
  }

  h1 {
    font-size: 40px;
    padding-bottom: 0;
  }

  .logo {
    width: 150px;
  }

  .night {
    padding-top: 12px;
    width: 25px;
    height: 25px;
  }

  .account {
    width: 30px;
    height: 30px;
    padding-top: 8px;
  }

  .container {
    width: 358px;
    margin: 0 auto;
    padding: 0;
  }

  .item {
    display: none;
  }

  . head {
    display: flex;
    justify-content: space-between;
  }

  .foot {
    padding-top: 60px;
  }

  .logo {
    padding-top: 6px;
    display: flex;
    justify-content: start;
  }

  .menu {
    display: flex;
    width: 24px;
    height: 16px;
    margin-left: 16px;
    padding-top: 15px;
  }
}

@media screen and (max-width: 480px) {
  .main {
    margin: 0;
    background-size: cover;
    max-width: 100%;
    max-height: 533px;
  }

  .container {
    margin: 0 auto;
    width: 328px;
    padding: 0;
  }

  .col-sm-6 {
    width: 100%;
  }

  h1 {
    font-size: 30px;
    padding-top: 52px;
    padding-bottom: 31px;
  }

  label {
    display: none;
  }

  input {
    font-size: 18px;
    height: 48px;
    border-radius: 4px;
  }

  /*input:focus ~ .label_one {*/
  /*  transition: transform 0.25s;*/
  /*}*/

  /*input:not(:placeholder-shown) ~ .label_one{*/
  /*  transform: translateY(-30px) translateX(10px) scale(0.75);*/
  /*}*/


  .item {
    display: none;
  }

  .logo {
    width: 122px;
    height: 24px;
    padding-top: 12px;
  }

  .night {
    width: 16px;
    height: 16px;
  }

  .account {
    width: 24px;
    height: 24px;
    padding-top: 6px;
  }

  form {
    display: block;
    box-sizing: border-box;
    border: 8px solid #f5bd41;
    border-radius: 0;
    outline: #f5bd41;
    justify-content: center;
    background-color: #f5bd41;
    width: 328px;
  }

  .hotel {
    padding: 0;
  }

  .city {
    height: 48px;
    width: 312px;
    margin-top: 8px;
  }

  .date {
    height: 48px;
    width: 152px;
    margin-top: 8px;
  }

  .check-in-date {
    display: inline;
    width: 152px;
    margin-left: 4px;
  }

  .children {
    height: 48px;
    width: 312px;
    margin-top: 8px;
  }

  .menu {
    display: flex;
    width: 24px;
    height: 16px;
    margin-left: 16px;
    padding-top: 4px;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 0;
  }

  .search {
    width: 312px;
    margin-top: 8px;
    border-radius: 4px;
  }

  .apple {
    width: 135px;
    height: 40px;
    padding-top: 32px;
  }

  .google {
    width: 135px;
    height: 40px;
    padding-top: 32px;
  }
}
