@import "font.css";

* {
  margin: 0;
  padding: 0;
}

input {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 18px;
  border: none;
  padding: 0;
  outline: #f5bd41;
  border-radius: 8px;
  box-sizing: border-box;
}

.main {
  background-image: url("../images/castelmezzano.png");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 900px;
  min-width: 100%;
  background-size: 100%;
}

.container {
  padding: 51px 104px 0;
  overflow: hidden;
}

.head {
  height: 46px;
  display: flex;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 24px;
  justify-content: space-between;
}

.links {
  display: flex;
  align-items: center;
}

a {
  color: #ffffff;
  text-decoration: none;
  justify-content: end;
  margin-left: 24px;
}

a:hover {
  color: #f5bd41;
}

.attraction {
  margin-right: 24px;
}

.item {
  position: relative;
}

.item:hover::before {
  width: 50px;
  height: 4px;
  text-align: center;
  background-color: #f5bd41;
}

.item::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  bottom: -12px;
  right: 0;
  left: 0;
  margin: auto;
}

svg:hover > path {
  fill: #f5bd41;
}

h1 {
  font-family: Roboto, serif;
  font-weight: 500;
  font-size: 50px;
  color: #ffffff;
  padding-top: 202px;
}

label {
  color: #ffffff;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 18px;
}

.hotel {
  padding: 100px 221px 24px 24px;
}

label:first-child {
  padding-right: 180px;
}

input:focus {
  border: 3px #f5bd41 solid;
}

#city {
  width: 467px;
  height: 64px;
  padding-left: 24px;
  display: inline-block;
}

#date {
  width: 259px;
  height: 64px;
  padding-left: 24px;
  position: relative;
  outline: #f5bd41;
}

#children {
  width: 314px;
  height: 64px;
  padding-left: 24px;
}

.search {
  width: 192px;
  height: 64px;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  border-radius: 8px;
  background-color: #3077c6;
  border: none;
}

.foot {
  display: flex;
  justify-content: center;
  padding-top: 120px;
}

.google {
  margin-right: -8px;
  padding-left: 0;
}

.apple {
  padding-left: 0;
}

form {
  display: flex;
  background: white;
  border-radius: 8px;
}
