@import "./font.css";

* {
  margin: 0;
  font-family: "Roboto", serif;
}

section {
  width: 100%;
}

.offer {
  align-items: center;
  padding-top: 120px;
  font-size: 40px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}


.bord::after {
  content: "";
  position: absolute;
  left: 45%;
  background-color: #f5bd41;
  width: 100px;
  height: 4px;
  margin: 20px auto auto;
}

.picture {
  display: flex;
  padding-bottom: 20px;
}

.col-3 {
  width: 25%;
}

.container-section {
  padding-right: 30px;
}

.img {
  display: flex;
  justify-content: space-around;
  padding-top: 80px;
  width: 100%;
  flex-wrap: wrap;
  padding-bottom: 122px;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

@media screen and (max-width: 850px) {
  .offer {
    padding-top: 20px;
    font-size: 30px;
  }

  .container-section {
    padding-right: 30px;
  }

  .img {
    margin: 0 auto;
  }

  .picture {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  .col-m-6 {
    width: 50%;
  }
  .bord{
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .col-s-6 {
    width: 100%;
  }

  .img {
    padding-top: 32px;
    padding-bottom: 40px;
    font-size: 15px;
    text-align: center;
    display: inline;
  }

  .container-section {
    padding: 0;
  }

  .offer {
    font-size: 28px;
    white-space: nowrap;
    padding-top: 24px;
    padding-bottom: 32px;
    align-items: center;
    justify-content: center;
  }

  .bord {
    display: none;
  }

  section {
    margin: auto;
    height: 100%;
  }

  .text {
    font-size: 15px;
    display: flex;
    justify-content: center;
  }

}
