@import "./font.css";

* {
  margin: 0;
  font-family: "Roboto", serif;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  font-size: 40px;
  font-weight: 500;
  margin-top: 0;
}

.bord {
  background-color: #f5bd41;
  width: 100px;
  height: 4px;
  margin: 20px auto auto;
}

.img {
  display: flex;
  justify-content: space-around;
  padding-top: 80px;
  padding-bottom: 122px;
  width: 100%;
  flex-wrap: wrap;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}


/*.media {*/
/*  display: flex;*/
/*}*/

/*.bookReal {*/
/*  display: flex;*/
/*}*/

/*@media screen and (min-width: 768px) {*/
/*  .col-1 {*/
/*    flex: 1;*/
/*  }*/

/*  .col-2 {*/
/*    flex: 2;*/
/*  }*/

  /*.col-3 {*/
  /*  flex: 3;*/
  /*  display: inline;*/
  /*}*/

/*  .col-4 {*/
/*    flex: 4;*/
/*  }*/

/*  .col-5 {*/
/*    flex: 5;*/
/*  }*/

/*  .col-6 {*/
/*    flex: 6;*/
/*  }*/

/*  .col-7 {*/
/*    flex: 7;*/
/*  }*/

/*  .col-8 {*/
/*    flex: 8;*/
/*  }*/

/*  .col-9 {*/
/*    flex: 9;*/
/*  }*/

/*  .col-10 {*/
/*    flex: 10;*/
/*  }*/

/*  .col-11 {*/
/*    flex: 11;*/
/*  }*/

/*  .col-12 {*/
/*    flex: 12;*/
/*  }*/

/*}*/

@media screen and (max-width: 768px) {
  h2 {
    padding-top: 20px;
    font-size: 30px;
  }

  .img {
    margin: 0 auto;
  }

  .media {
    display: inline-block;
  }

  .bookReal {
    display: inline-block;
  }

  .col-3 {
    margin-right: 0;
    box-sizing: border-box;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 480px) {
  .img {
    font-size: 15px;
    text-align: center;
    display: inline;
  }

  h2 {
    font-size: 28px;
    white-space: nowrap;
    padding-top: 24px;
    padding-bottom: 32px;
  }

  .bord {
    display: none;
  }

  section {
    margin: auto;
    height: 100%;
  }

  .col-3 {
    margin: 0 auto;
    padding-bottom: 37px;
    font-size: 15px;
  }

  .text {
    font-size: 15px;
    display: flex;
    justify-content: center;
  }

  .media {
    display: inline;
  }

  .bookReal {
    display: inline;
  }
}
