@import "fonts/Roboto";

* {
  margin: 0;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  font-size: 40px;
  font-family: "Roboto", serif;
  font-weight: 500;
  margin-top: 0;
}

.bord {
  background-color: #f5bd41;
  width: 100px;
  height: 4px;
  margin: auto;
}

.img {
  display: flex;
  justify-content: space-around;
  padding-top: 80px;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.support {
  padding-top: 48px;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 24px;
}

.com-direct {
  padding-top: 56px;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 24px;
}

.book-onli {
  padding-top: 75px;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 24px;
}

.real-guest {
  padding-top: 60px;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 24px;
}
